@model IEnumerable<FinalProjectShopLaptop.Models.NhomSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Product Type List</h2>
    </div>
    <div class="col-6 text-right">
        <a href="../NhomSanPham/Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Product Type</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Tên Nhóm Sản Phẩm
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Ten)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Detail", "Detail", new { id = item.Id })
                </td>
            </tr>

        }
    </table>
</div>
